html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  max-width: 1700px;
  margin: 0 auto; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.topBackground {
  background: #fafafa url("header/images/backgroundPhoto.jpg") center center no-repeat;
  background-size: cover;
  max-width: 1700px;
  height: 611px;
  border-bottom: 120px solid #fafafa;
  box-sizing: content-box;
  cursor: default; }
  @media screen and (max-width: 800px) {
    .topBackground {
      max-width: 800px;
      height: 450px; } }
  @media screen and (max-width: 414px) {
    .topBackground {
      height: 350px;
      border-bottom: 105px solid #fafafa; } }
  @media screen and (max-width: 320px) {
    .topBackground {
      height: 320px; } }

.headerInHeader {
  font-family: "Oswald", sans-serif;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px #4c4c4c;
  line-height: 120%; }
  @media screen and (max-width: 1280px) {
    .headerInHeader {
      font-size: 4.5em; } }
  @media screen and (max-width: 800px) {
    .headerInHeader {
      font-size: 3.5em;
      text-align: center; } }
  @media screen and (max-width: 414px) {
    .headerInHeader {
      font-size: 3em; } }
  @media screen and (max-width: 384px) {
    .headerInHeader {
      font-size: 2.75em; } }
  @media screen and (max-width: 320px) {
    .headerInHeader {
      font-size: 2.4em; } }
  .headerInHeader span {
    color: #fcce00; }

.topContent p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8125em;
  color: #fff;
  text-shadow: 0.75px 0.75px #000;
  line-height: 150%;
  padding-top: 40px; }
  @media screen and (max-width: 1280px) {
    .topContent p {
      font-size: 1.675em; } }
  @media screen and (max-width: 800px) {
    .topContent p {
      font-size: 1.3em;
      padding-top: 25px;
      text-align: center; } }
  @media screen and (max-width: 414px) {
    .topContent p {
      font-size: 1.2em; } }
  @media screen and (max-width: 384px) {
    .topContent p {
      font-size: 1.05em; } }
  @media screen and (max-width: 320px) {
    .topContent p {
      font-size: 0.9em; } }

.topContentRight {
  position: absolute;
  top: 0;
  left: 44%;
  margin-top: 20px;
  float: right;
  padding: 20px 0 0 40px; }
  @media screen and (max-width: 800px) {
    .topContentRight {
      float: none;
      left: 0;
      display: inline-block;
      text-align: center;
      margin: auto;
      width: 100%;
      padding: 10px 0 0 0; } }
  @media screen and (max-width: 384px) {
    .topContentRight {
      top: 13px; } }
  .topContentRight .logoInBackground {
    margin-bottom: 57px;
    margin-left: -15px; }
    @media screen and (max-width: 800px) {
      .topContentRight .logoInBackground {
        margin-bottom: 25px; } }
    @media screen and (max-width: 414px) {
      .topContentRight .logoInBackground {
        width: 300px; } }

.iPhoneImage {
  position: relative;
  float: left; }

.timeLeftBox {
  position: relative;
  bottom: 0;
  float: left; }
  @media screen and (max-width: 320px) {
    .timeLeftBox {
      display: none; } }
  .timeLeftBox p {
    font-family: "Oswald", sans-serif;
    font-size: 1.0625em;
    color: #434343;
    text-shadow: none;
    text-transform: uppercase;
    text-align: justify;
    background-color: #fbfbfb;
    box-shadow: 1px 1px 3px 1px #989898;
    box-sizing: content-box;
    padding: 12px 12px 10px; }
    @media screen and (max-width: 414px) {
      .timeLeftBox p {
        font-size: 0.8em;
        padding: 6.5px 7px 6px; } }
    .timeLeftBox p span {
      font-size: 1.5em; }

.timeLeftBox:after, .timeLeftBox:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.timeLeftBox:after {
  border-color: #323232;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fbfbfb;
  border-width: 10px;
  margin-top: -10px; }

.timeLeftBox:before {
  border-color: #333236;
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #afafaf;
  border-width: 13px;
  margin: -11px 0 0 0; }

.timerSection {
  position: relative;
  float: left;
  top: 0;
  margin-top: 82px;
  width: 100%; }
  @media screen and (max-width: 1280px) {
    .timerSection {
      margin-top: 104px; } }
  @media screen and (max-width: 800px) {
    .timerSection {
      float: none;
      text-align: center;
      width: 100%;
      margin-top: 78px;
      left: 15%; } }
  @media screen and (max-width: 600px) {
    .timerSection {
      left: 15px; } }
  @media screen and (max-width: 414px) {
    .timerSection {
      margin-top: 40px; } }
  @media screen and (max-width: 384px) {
    .timerSection {
      margin-top: 47px; } }
  @media screen and (max-width: 320px) {
    .timerSection {
      margin-top: 37px; } }

.counters {
  position: relative;
  float: left;
  margin: 0 0 0 40px; }
  @media screen and (max-width: 360px) {
    .counters {
      margin: 0 0 0 22px; } }
  .counters .underCounter {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0; }
  .counters p {
    margin: 0;
    padding: 5px 0 0 0;
    font-family: "Oswald", sans-serif;
    font-size: 0.765em;
    color: black;
    text-shadow: none;
    text-transform: uppercase;
    text-align: center;
    width: 80px; }

.counterModule {
  float: left; }

@media screen and (max-width: 800px) {
  .iPhoneImage {
    display: none; } }
.hoursCounter,
.minutesCounter,
.secondsCounter {
  margin: 0 20px 0 0;
  height: 75px;
  width: 80px;
  background: linear-gradient(#393939, #2a2a2a, #212121, #202020, #000000);
  border-radius: 5px 5px 8px 8px;
  box-shadow: 1px 2px 6px 1px #69686c; }
  @media screen and (max-width: 384px) {
    .hoursCounter,
    .minutesCounter,
    .secondsCounter {
      height: 70px;
      width: 76px;
      margin: 0 12px 0 0; } }
  @media screen and (max-width: 375px) {
    .hoursCounter,
    .minutesCounter,
    .secondsCounter {
      margin: 0 9px 0 0; } }

.hoursCounter p,
.minutesCounter p,
.secondsCounter p {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  color: #fff;
  display: inline-block;
  position: relative;
  bottom: 5px;
  left: 3px;
  letter-spacing: 6px; }
  @media screen and (max-width: 384px) {
    .hoursCounter p,
    .minutesCounter p,
    .secondsCounter p {
      left: 1.75px; } }

.calendarPageViewRight {
  height: 2px;
  width: 80px;
  position: absolute;
  top: 36px;
  left: 0;
  background: linear-gradient(#323232, #444347); }
  @media screen and (max-width: 384px) {
    .calendarPageViewRight {
      width: 75px;
      left: 1px; } }

.calendarPageViewRight2 {
  height: 2px;
  width: 80px;
  position: absolute;
  top: 36px;
  left: 100px;
  background: linear-gradient(#323232, #444347); }
  @media screen and (max-width: 384px) {
    .calendarPageViewRight2 {
      width: 76px;
      left: 88px; } }
  @media screen and (max-width: 375px) {
    .calendarPageViewRight2 {
      left: 85px; } }

.calendarPageViewRight3 {
  height: 2px;
  width: 80px;
  position: absolute;
  top: 36px;
  left: 200px;
  background: linear-gradient(#323232, #444347); }
  @media screen and (max-width: 384px) {
    .calendarPageViewRight3 {
      width: 75px;
      left: 176px; } }
  @media screen and (max-width: 375px) {
    .calendarPageViewRight3 {
      left: 170px; } }

@media screen and (max-width: 414px) {
  .socialButtons {
    display: none; } }

.howItWorks {
  clear: both;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 80px;
  z-index: 1000;
  cursor: default; }
  @media screen and (max-width: 600px) {
    .howItWorks {
      padding-top: 50px; } }

.howItWorksHeader {
  font-family: "Oswald", sans-serif;
  font-size: 3.25em;
  font-weight: 900;
  color: #212222;
  text-transform: uppercase;
  text-align: center; }
  @media screen and (max-width: 600px) {
    .howItWorksHeader {
      margin-bottom: 30px; } }
  @media screen and (max-width: 414px) {
    .howItWorksHeader {
      font-size: 2.5em; } }

.howItWorksMainSection {
  margin-top: 2.6vw; }
  @media screen and (max-width: 600px) {
    .howItWorksMainSection {
      margin-left: 44px; } }
  @media screen and (max-width: 414px) {
    .howItWorksMainSection {
      margin-left: 68px; } }
  @media screen and (max-width: 384px) {
    .howItWorksMainSection {
      margin-left: 55px; } }
  @media screen and (max-width: 375px) {
    .howItWorksMainSection {
      margin-left: 50px; } }
  @media screen and (max-width: 360px) {
    .howItWorksMainSection {
      margin-left: 42px; } }
  @media screen and (max-width: 320px) {
    .howItWorksMainSection {
      margin-left: 25px; } }

.howItWorksCircle {
  color: #1b1b1b;
  text-align: center;
  display: block;
  border: 12px solid #53b8ee;
  width: 193px;
  height: 193px;
  float: left;
  margin: 25px auto 125px;
  border-radius: 100%;
  box-shadow: inset 6px 5px 20px -6px black;
  transition: 0.5s;
  cursor: pointer; }
  .howItWorksCircle:hover {
    transform: scale(1.28);
    border: 12px solid #fcce00;
    background-color: rgba(252, 206, 0, 0.1); }
    @media screen and (max-width: 1440px) {
      .howItWorksCircle:hover {
        border: 10px solid #fcce00; } }
    @media screen and (max-width: 1280px) {
      .howItWorksCircle:hover {
        border: 9px solid #fcce00; } }
    @media screen and (max-width: 800px) {
      .howItWorksCircle:hover {
        transform: scale(1.1); } }
  @media screen and (max-width: 1440px) {
    .howItWorksCircle {
      width: 168px;
      height: 168px;
      border: 10px solid #53b8ee; } }
  @media screen and (max-width: 1280px) {
    .howItWorksCircle {
      width: 151px;
      height: 151px;
      border: 9px solid #53b8ee; } }
  @media screen and (max-width: 800px) {
    .howItWorksCircle {
      width: 145px;
      height: 145px;
      margin: 0 0 80px 5px; } }
  @media screen and (max-width: 768px) {
    .howItWorksCircle {
      width: 142px;
      height: 142px;
      margin: 0 0 80px 2px; } }
  @media screen and (max-width: 600px) {
    .howItWorksCircle {
      width: 150px;
      height: 150px;
      margin: 0 0 30px 25px; } }
  .howItWorksCircle #firstStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) 0 0;
    margin: 0 auto; }
  .howItWorksCircle #secondStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) -56px 0;
    margin: 0 auto; }
  .howItWorksCircle #thirdStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) -112px 0;
    margin: 0 auto; }
  .howItWorksCircle #fourthStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) -169px 3px;
    margin: 0 auto; }

.insideCircleHeader {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 120%; }
  @media screen and (max-width: 1280px) {
    .insideCircleHeader {
      font-size: 1.35em;
      line-height: 110%; } }
  @media screen and (max-width: 800px) {
    .insideCircleHeader {
      font-size: 1.15em; } }
  @media screen and (max-width: 768px) {
    .insideCircleHeader {
      font-size: 1.05em; } }

.insideCircleParagraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding-top: 1em;
  line-height: 120%; }
  @media screen and (max-width: 1280px) {
    .insideCircleParagraph {
      font-size: 0.9em;
      padding-top: 0.7em; } }
  @media screen and (max-width: 800px) {
    .insideCircleParagraph {
      font-size: 0.8em;
      padding-top: 0.6em; } }
  @media screen and (max-width: 768px) {
    .insideCircleParagraph {
      font-size: 0.8em;
      padding-top: 0.6em; } }

.arrow {
  left: 0;
  height: 45px;
  width: 30px;
  background: url(howItWorks/images/howItWorksSprite.png) -240px 0;
  margin: 11.5% auto;
  position: relative;
  float: left;
  z-index: -10; }
  @media screen and (max-width: 800px) {
    .arrow {
      display: none; } }

.circleContent {
  padding-top: 13px; }

.socialButtons {
  position: relative;
  float: left;
  margin: 14px 0 0 25px; }

#slider-container {
  display: block;
  cursor: default; }

.carousel {
  position: relative;
  bottom: 0;
  clear: both; }
  @media screen and (max-width: 600px) {
    .carousel {
      top: 45px; } }

.carouselBox {
  width: 100%;
  height: 465px;
  background: linear-gradient(#f0f0f0, #ececec, #e5e4e4, #dad9d9); }
  @media screen and (max-width: 1280px) {
    .carouselBox {
      height: 420px; } }
  @media screen and (max-width: 414px) {
    .carouselBox {
      height: 365px; } }
  @media screen and (max-width: 320px) {
    .carouselBox {
      height: 300px; } }

.carouselDots {
  position: relative;
  top: 13px;
  left: 47.5%; }
  @media screen and (max-width: 600px) {
    .carouselDots {
      left: 43.5%; } }
  @media screen and (max-width: 384px) {
    .carouselDots {
      left: 40.5%; } }
  @media screen and (max-width: 412px) {
    .carouselDots {
      left: 40%; } }

ol {
  list-style: none;
  width: 100%; }
  ol li {
    background-color: #69686c;
    border-radius: 50%;
    display: inline-block;
    width: 11px;
    height: 11px;
    cursor: pointer;
    margin: 1px; }

.active {
  background-color: #fff;
  border: 1px solid #323232;
  box-sizing: border-box; }

#firstImage {
  position: absolute;
  bottom: 16px;
  left: 90px;
  height: 420px; }
  @media screen and (max-width: 1440px) {
    #firstImage {
      bottom: 17px;
      height: 400px; } }
  @media screen and (max-width: 1280px) {
    #firstImage {
      height: 355px; } }
  @media screen and (max-width: 414px) {
    #firstImage {
      height: 333px;
      left: 20px; } }
  @media screen and (max-width: 384px) {
    #firstImage {
      height: 308px; } }
  @media screen and (max-width: 360px) {
    #firstImage {
      height: 290px; } }
  @media screen and (max-width: 320px) {
    #firstImage {
      height: 260px;
      left: 15px; } }
  #firstImage img {
    height: 100%; }

.textBoxInCarousel {
  position: absolute;
  top: 105px;
  right: 90px;
  height: 270px;
  width: 35%;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 5px 1px #b9b9b9; }
  @media screen and (max-width: 1280px) {
    .textBoxInCarousel {
      width: 32%;
      height: 205px;
      right: 85px; } }
  @media screen and (max-width: 600px) {
    .textBoxInCarousel {
      height: 245px;
      width: 56%;
      top: 174px;
      right: 110px;
      box-shadow: 0 0 0 0 transparent;
      background-color: rgba(185, 185, 185, 0.85); } }
  @media screen and (max-width: 414px) {
    .textBoxInCarousel {
      height: 230px;
      width: 76.5%;
      top: 134px;
      right: 41px;
      border-radius: 4px 4px 0 0;
      background-color: rgba(185, 185, 185, 0.9); } }
  @media screen and (max-width: 412px) {
    .textBoxInCarousel {
      right: 39px; } }
  @media screen and (max-width: 384px) {
    .textBoxInCarousel {
      height: 211px;
      top: 153px;
      right: 37px; } }
  @media screen and (max-width: 375px) {
    .textBoxInCarousel {
      height: 212px;
      top: 152px;
      right: 30px;
      width: 78%; } }
  @media screen and (max-width: 360px) {
    .textBoxInCarousel {
      height: 200px;
      top: 164px;
      right: 33px;
      width: 76%; } }
  @media screen and (max-width: 320px) {
    .textBoxInCarousel {
      height: 180px;
      top: 120px;
      right: 30px;
      width: 77.25%; } }

.textInCarousel {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1.125em;
  font-weight: 400;
  color: #000;
  width: 80%;
  line-height: 200%;
  position: relative;
  top: 10%;
  left: 15%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  @media screen and (max-width: 1280px) {
    .textInCarousel {
      width: 90%;
      font-size: 0.95em;
      left: 7.5%;
      line-height: 180%; } }
  @media screen and (max-width: 600px) {
    .textInCarousel {
      text-align: center;
      left: 5%;
      top: 11.5%;
      font-size: 1.1em; } }
  @media screen and (max-width: 384px) {
    .textInCarousel {
      font-size: 1em; } }
  @media screen and (max-width: 360px) {
    .textInCarousel {
      font-size: 0.92em; } }
  @media screen and (max-width: 320px) {
    .textInCarousel {
      font-size: 0.82em; } }

.connectorBetweenImageAndTextBox {
  position: absolute;
  top: 235px;
  left: 410px;
  height: 130px;
  width: 130px; }
  @media screen and (max-width: 1280px) {
    .connectorBetweenImageAndTextBox {
      display: none; } }

.redDot {
  height: 7px;
  width: 7px;
  background-color: transparent;
  border: 4px solid #f00;
  border-radius: 50%;
  text-shadow: 0 0 3px #1b1b1b; }

.redDotLeft {
  position: absolute;
  bottom: 0;
  left: 0; }

.redDotRight {
  position: absolute;
  top: 1px;
  right: -1px; }

#bottomDotLine {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  bottom: -2px; }

#verticalDotLine {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  bottom: 49px;
  left: 25px;
  transform: rotate(90deg);
  display: inline-block;
  letter-spacing: 1.6px; }

#topDotLine {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  top: -130px;
  left: 68px;
  letter-spacing: 0.6px; }

.footer {
  color: #d9d9d9;
  clear: both;
  cursor: default; }

.footerContent .leftFooterContent {
  position: absolute;
  top: 80px;
  float: left;
  text-align: left; }
  @media screen and (max-width: 800px) {
    .footerContent .leftFooterContent {
      float: none;
      text-align: center;
      display: block;
      width: 100%;
      position: relative; } }
  .footerContent .leftFooterContent .paragraphInFooter {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1em;
    padding-bottom: 12px;
    line-height: 125%; }
    @media screen and (max-width: 1280px) {
      .footerContent .leftFooterContent .paragraphInFooter {
        font-size: 0.9em; } }
  .footerContent .leftFooterContent .daysAgoInFooter {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.8125em;
    font-style: italic;
    margin-bottom: 50px; }
    @media screen and (max-width: 1280px) {
      .footerContent .leftFooterContent .daysAgoInFooter {
        font-size: 0.775em;
        margin-bottom: 40px; } }
    @media screen and (max-width: 800px) {
      .footerContent .leftFooterContent .daysAgoInFooter {
        margin-bottom: 25px; } }
.footerContent .rightFooterContent {
  position: relative;
  top: 80px;
  float: right;
  text-align: right; }
  @media screen and (max-width: 800px) {
    .footerContent .rightFooterContent {
      float: none;
      text-align: center;
      display: block; } }
  .footerContent .rightFooterContent .aboutUsContentInFooter {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.875em;
    line-height: 135%;
    margin-bottom: 10px; }
    @media screen and (max-width: 1280px) {
      .footerContent .rightFooterContent .aboutUsContentInFooter {
        font-size: 0.775em; } }

.headersInFooter {
  font-family: "Open Sans", sans-serif;
  font-size: 1.875em;
  font-weight: 100;
  font-style: italic;
  padding-bottom: 30px; }
  @media screen and (max-width: 1280px) {
    .headersInFooter {
      font-size: 1.675em;
      padding-bottom: 20px; } }
  @media screen and (max-width: 800px) {
    .headersInFooter {
      padding-top: 10px; } }

.footerBackgroundTop {
  height: 50px;
  position: absolute;
  top: 0;
  color: #fafafa;
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 3px, #f2f2f2 7px, #ffffff 10px); }

.footerBackground {
  background-color: #323232;
  height: 455px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 135px; }
  @media screen and (max-width: 1280px) {
    .footerBackground {
      height: 410px; } }
  @media screen and (max-width: 800px) {
    .footerBackground {
      height: 640px; } }
  @media screen and (max-width: 414px) {
    .footerBackground {
      height: 740px; } }

.footerBackgroundBottom {
  display: block;
  background-color: #fff;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #373737;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.8125em;
  border-top: 15px solid #393939;
  box-sizing: border-box;
  padding-top: 20px; }
  @media screen and (max-width: 600px) {
    .footerBackgroundBottom {
      padding-top: 15px; } }
  @media screen and (max-width: 414px) {
    .footerBackgroundBottom {
      height: 90px; } }
  .footerBackgroundBottom .footerCopyright {
    float: left; }
    @media screen and (max-width: 600px) {
      .footerBackgroundBottom .footerCopyright {
        float: none;
        text-align: center; } }
    @media screen and (max-width: 414px) {
      .footerBackgroundBottom .footerCopyright {
        padding-bottom: 10px; } }
  .footerBackgroundBottom .footerAllRights {
    float: right; }
    @media screen and (max-width: 600px) {
      .footerBackgroundBottom .footerAllRights {
        float: none;
        text-align: center; } }
    @media screen and (max-width: 414px) {
      .footerBackgroundBottom .footerAllRights {
        margin-bottom: 10px; } }

.backToTop {
  position: relative;
  top: 17px; }
  .backToTop p {
    color: #3e3e3e;
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    display: block;
    float: right; }
  .backToTop img {
    float: right;
    display: block;
    padding: 3px 0 0 8px; }

html, body {
  overflow-x: hidden;
  max-width: 1600px; }

.wrapper {
  width: 60%;
  margin: 0 auto; }
  @media screen and (max-width: 800px) {
    .wrapper {
      width: 85%; } }

.wrapperWide {
  width: 100%; }

/*# sourceMappingURL=base.css.map */
