$fontOswald: 'Oswald', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

$blueCircles: #53b8ee;
$yellowCircles: #fcce00;

$break1440: 1440px;
$break1280: 1280px;
$break800: 800px;
$break768: 768px;
$break600: 600px;
$break414: 414px;
$break412: 412px;
$break384: 384px;
$break375: 375px;
$break360: 360px;
$break320: 320px;

@import 'reset';
@import 'header/header';
@import 'howItWorks/howItWorks';
@import 'carousel/carousel';
@import 'footer/footer';


html, body {
  overflow-x: hidden;
  max-width: 1600px;
}


.wrapper {
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: $break800) {
    width: 85%;
  }
}

.wrapperWide {
  width: 100%;
}
