.footer {
  color: #d9d9d9;
  clear: both;
  cursor: default;
}

.footerContent {
  .leftFooterContent {
    position: absolute;
    top: 80px;
    float: left;
    text-align: left;

    @media screen and (max-width: $break800) {
      float: none;
      text-align: center;
      display: block;
      width: 100%;
      position: relative;
    }

    .paragraphInFooter {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 1em;
      padding-bottom: 12px;
      line-height: 125%;

      @media screen and (max-width: $break1280) {
        font-size: 0.9em;
      }
    }

    .daysAgoInFooter {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 0.8125em;
      font-style: italic;
      margin-bottom: 50px;

      @media screen and (max-width: $break1280) {
        font-size: 0.775em;
        margin-bottom: 40px;
      }
      @media screen and (max-width: $break800) {
        margin-bottom: 25px;
      }
    }
  }

  .rightFooterContent {
    position: relative;
    top: 80px;
    float: right;
    text-align: right;

    @media screen and (max-width: $break800) {
      float: none;
      text-align: center;
      display: block;
    }

    .aboutUsContentInFooter {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 0.875em;
      line-height: 135%;
      margin-bottom: 10px;

      @media screen and (max-width: $break1280) {
        font-size: 0.775em;
      }
    }
  }
}

.headersInFooter {
  font-family: $fontOpenSans;
  font-size: 1.875em;
  font-weight: 100;
  font-style: italic;
  padding-bottom: 30px;

  @media screen and (max-width: $break1280) {
    font-size: 1.675em;
    padding-bottom: 20px;
  }
  @media screen and (max-width: $break800) {
    padding-top: 10px;
  }
}

.footerBackgroundTop {
  height: 50px;
  position: absolute;
  top: 0;
  color: #fafafa;
  background: repeating-linear-gradient(
                  -45deg,
                  #ffffff,
                  #ffffff 3px,
                  #f2f2f2 7px,
                  #ffffff 10px
  );
}

.footerBackground {
  background-color: #323232;
  height: 455px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 135px;

  @media screen and (max-width: $break1280) {
    height: 410px;
  }
  @media screen and (max-width: $break800) {
    height: 640px;
  }
  @media screen and (max-width: $break414) {
    height: 740px;
  }
}


.footerBackgroundBottom {
  display: block;
  background-color: #fff;
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #373737;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.8125em;
  border-top: 15px solid #393939;
  box-sizing: border-box;
  padding-top: 20px;

  @media screen and (max-width: $break600) {
    padding-top: 15px;
  }
  @media screen and (max-width: $break414) {
    height: 90px;
  }
  .footerCopyright {
    float: left;

    @media screen and (max-width: $break600) {
      float: none;
      text-align: center;
    }
    @media screen and (max-width: $break414) {
      padding-bottom: 10px;
    }
  }
  .footerAllRights {
    float: right;

    @media screen and (max-width: $break600) {
      float: none;
      text-align: center;
    }
    @media screen and (max-width: $break414) {
      margin-bottom: 10px;
    }
  }
}

.backToTop {
  position: relative;
  top: 17px;

  p {
    color: #3e3e3e;
    text-align: right;
    font-family: $fontOpenSans;
    font-weight: 600;
    font-style: italic;
    display: block;
    float: right;
  }
  img {
    float: right;
    display: block;
    padding: 3px 0 0 8px;
  }
}