#slider-container {
  display: block;
  cursor: default;
}

.carousel {
  position: relative;
  bottom: 0;
  clear: both;

  @media screen and (max-width: $break600) {
    top: 45px;
  }
}

.carouselBox {
  width: 100%;
  height: 465px;
  background: linear-gradient(#f0f0f0, #ececec, #e5e4e4, #dad9d9);

  @media screen and (max-width: $break1280) {
    height: 420px;
  }
  @media screen and (max-width: $break414) {
    height: 365px;
  }
  @media screen and (max-width: $break320) {
    height: 300px;
  }
}

.carouselDots {
  position: relative;
  top: 13px;
  left: 47.5%;

  @media screen and (max-width: $break600) {
    left: 43.5%;
  }
  @media screen and (max-width: $break384) {
    left: 40.5%;
  }
  @media screen and (max-width: $break412) {
    left: 40%;
  }
}

ol {
  list-style: none;
  width: 100%;

  li {
    background-color: #69686c;
    border-radius: 50%;
    display: inline-block;
    width: 11px;
    height: 11px;
    cursor: pointer;
    margin: 1px;
  }
}

.active {
  background-color: #fff;
  border: 1px solid #323232;
  box-sizing: border-box;
}

#firstImage {
  position: absolute;
  bottom: 16px;
  left: 90px;
  height: 420px;

  @media screen and (max-width: $break1440) {
    bottom: 17px;
    height: 400px;
  }
  @media screen and (max-width: $break1280) {
    height: 355px;
  }
  @media screen and (max-width: $break414) {
    height: 333px;
    left: 20px;
  }
  @media screen and (max-width: $break384) {
    height: 308px;
  }
  @media screen and (max-width: $break360) {
    height: 290px;
  }
  @media screen and (max-width: $break320) {
    height: 260px;
    left: 15px;
  }

  img {
    height: 100%;
  }
}

.textBoxInCarousel {
  position: absolute;
  top: 105px;
  right: 90px;
  height: 270px;
  width: 35%;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 5px 1px #b9b9b9;

  @media screen and (max-width: $break1280) {
    width: 32%;
    height: 205px;
    right: 85px;
  }
  @media screen and (max-width: $break600) {
    height: 245px;
    width: 56%;
    top: 174px;
    right: 110px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(185, 185, 185, 0.85);
  }
  @media screen and (max-width: $break414) {
    height: 230px;
    width: 76.5%;
    top: 134px;
    right: 41px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(185, 185, 185, 0.9);
  }
  @media screen and (max-width: $break412) {
    right: 39px;
  }
  @media screen and (max-width: $break384) {
    height: 211px;
    top: 153px;
    right: 37px;
  }
  @media screen and (max-width: $break375) {
    height: 212px;
    top: 152px;
    right: 30px;
    width: 78%;
  }
  @media screen and (max-width: $break360) {
    height: 200px;
    top: 164px;
    right: 33px;
    width: 76%;
  }
  @media screen and (max-width: $break320) {
    height: 180px;
    top: 120px;
    right: 30px;
    width: 77.25%;
  }
}

.textInCarousel {
  font-family: $fontOpenSans;
  font-style: italic;
  font-size: 1.125em;
  font-weight: 400;
  color: #000;
  width: 80%;
  line-height: 200%;
  position: relative;
  top: 10%;
  left: 15%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (max-width: $break1280) {
    width: 90%;
    font-size: 0.95em;
    left: 7.5%;
    line-height: 180%;
  }
  @media screen and (max-width: $break600) {
    text-align: center;
    left: 5%;
    top: 11.5%;
    font-size: 1.1em;
  }
  @media screen and (max-width: $break384) {
    font-size: 1em;
  }
  @media screen and (max-width: $break360) {
    font-size: 0.92em;
  }
  @media screen and (max-width: $break320) {
    font-size: 0.82em;
  }
}

.connectorBetweenImageAndTextBox {
  position: absolute;
  top: 235px;
  left: 410px;
  height: 130px;
  width: 130px;

  @media screen and (max-width: $break1280) {
    display: none;
  }
}

.redDot {
  height: 7px;
  width: 7px;
  background-color: transparent;
  border: 4px solid #f00;
  border-radius: 50%;
  text-shadow: 0 0 3px #1b1b1b;
}

.redDotLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.redDotRight {
  position: absolute;
  top: 1px;
  right: -1px;
}

#bottomDotLine {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  bottom: -2px;
}

#verticalDotLine {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  bottom: 49px;
  left: 25px;
  transform: rotate(90deg);
  display: inline-block;
  letter-spacing: 1.6px;
}

#topDotLine {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  top: -130px;
  left: 68px;
  letter-spacing: 0.6px;
}