.topBackground {
  background: #fafafa url('header/images/backgroundPhoto.jpg') center center no-repeat;
  background-size: cover;
  max-width: 1700px;
  height: 611px;
  border-bottom: 120px solid #fafafa;
  box-sizing: content-box;
  cursor: default;

  @media screen and (max-width: $break800) {
    max-width: 800px;
    height: 450px;
  }
  @media screen and (max-width: $break414) {
    height: 350px;
    border-bottom: 105px solid #fafafa;
  }
  @media screen and (max-width: $break320) {
    height: 320px;
  }
}

  .headerInHeader {
    font-family: $fontOswald;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px #4c4c4c;
    line-height: 120%;

    @media screen and (max-width: $break1280) {
      font-size: 4.5em;
    }
    @media screen and (max-width: $break800) {
      font-size: 3.5em;
      text-align: center;
    }
    @media screen and (max-width: $break414) {
      font-size: 3em;
    }
    @media screen and (max-width: $break384) {
      font-size: 2.75em;
    }
    @media screen and (max-width: $break320) {
      font-size: 2.4em;
    }

    span {
      color: $yellowCircles;
    }
  }

    .topContent {
      p {
        font-family: $fontOpenSans;
        font-size: 1.8125em;
        color: #fff;
        text-shadow: 0.75px 0.75px #000;
        line-height: 150%;
        padding-top: 40px;

        @media screen and (max-width: $break1280) {
          font-size: 1.675em;
        }
        @media screen and (max-width: $break800) {
          font-size: 1.3em;
          padding-top: 25px;
          text-align: center;
        }
        @media screen and (max-width: $break414) {
          font-size: 1.2em;
        }
        @media screen and (max-width: $break384) {
          font-size: 1.05em;
        }
        @media screen and (max-width: $break320) {
          font-size: 0.9em;
        }
      }
    }

.topContentRight {
  position: absolute;
  top: 0;
  left: 44%;
  margin-top: 20px;
  float: right;
  padding: 20px 0 0 40px;

  @media screen and (max-width: $break800) {
    float: none;
    left: 0;
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px 0 0 0;
  }
  @media screen and (max-width: $break384) {
    top: 13px;
  }

  .logoInBackground {
    margin-bottom: 57px;
    margin-left: -15px;

    @media screen and (max-width: $break800) {
      margin-bottom: 25px;
    }
    @media screen and (max-width: $break414) {
      width: 300px;
    }
  }
}

.iPhoneImage {
  position: relative;
  float: left;
}

.timeLeftBox {
  position: relative;
  bottom: 0;
  float: left;

  @media screen and (max-width: $break320) {
    display: none;
  }

  p {
    font-family: $fontOswald;
    font-size: 1.0625em;
    color: #434343;
    text-shadow: none;
    text-transform: uppercase;
    text-align: justify;
    background-color: #fbfbfb;
    box-shadow: 1px 1px 3px 1px #989898;
    box-sizing: content-box;
    padding: 12px 12px 10px;

    @media screen and (max-width: $break414) {
      font-size: 0.8em;
      padding: 6.5px 7px 6px;
    }

    span {
      font-size: 1.5em;
    }
  }}

.timeLeftBox:after, .timeLeftBox:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.timeLeftBox:after {
  border-color: rgb(50, 50, 50);
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fbfbfb;
  border-width: 10px;
  margin-top: -10px;
}
.timeLeftBox:before {
  border-color: rgb(51, 50, 54);
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #afafaf;
  border-width: 13px;
  margin: -11px 0 0 0;
}

.timerSection {
  position: relative;
  float: left;
  top: 0;
  margin-top: 82px;
  width: 100%;

  @media screen and (max-width: $break1280) {
    margin-top: 104px;
  }
  @media screen and (max-width: $break800) {
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 78px;
    left: 15%;
  }
  @media screen and (max-width: $break600) {
    left: 15px;
  }
  @media screen and (max-width: $break414) {
    margin-top: 40px;
  }
  @media screen and (max-width: $break384) {
    margin-top: 47px;
  }
  @media screen and (max-width: $break320) {
    margin-top: 37px;
  }
}

.counters {
  position: relative;
  float: left;
  margin: 0 0 0 40px;

  @media screen and (max-width: $break360) {
    margin: 0 0 0 22px;
  }

  .underCounter {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
  }
    p {
      margin: 0;
      padding: 5px 0 0 0;
      font-family: $fontOswald;
      font-size: 0.765em;
      color: black;
      text-shadow: none;
      text-transform: uppercase;
      text-align: center;
      width: 80px;
    }
}

.counterModule {
  float: left;
}

@media screen and (max-width: 800px) {
  .iPhoneImage {
    display: none;
  }
}

.hoursCounter,
.minutesCounter,
.secondsCounter {
  margin: 0 20px 0 0;
  height: 75px;
  width: 80px;
  background: linear-gradient(#393939,#2a2a2a, #212121, #202020, #000000);
  border-radius: 5px 5px 8px 8px;
  box-shadow: 1px 2px 6px 1px #69686c;

  @media screen and (max-width: $break384) {
    height: 70px;
    width: 76px;
    margin: 0 12px 0 0;
  }
  @media screen and (max-width: $break375) {
    margin: 0 9px 0 0;
  }
}

.hoursCounter p,
.minutesCounter p,
.secondsCounter p {
  font-family: $fontOswald;
  font-size: 3em;
  color: #fff;
  display: inline-block;
  position: relative;
  bottom: 5px;
  left: 3px;
  letter-spacing: 6px;

  @media screen and (max-width: $break384) {
    left: 1.75px;
  }
}

.calendarPageViewRight {
  height: 2px;
  width: 80px;
  position: absolute;
  top: 36px;
  left: 0;
  background: linear-gradient(#323232, #444347);

  @media screen and (max-width: $break384) {
    width: 75px;
    left: 1px;
  }
}

.calendarPageViewRight2 {
  height: 2px;
  width: 80px;
  position: absolute;
  top: 36px;
  left: 100px;
  background: linear-gradient(#323232, #444347);

  @media screen and (max-width: $break384) {
    width: 76px;
    left: 88px;
  }
  @media screen and (max-width: $break375) {
    left: 85px;
  }
}

.calendarPageViewRight3 {
  height: 2px;
  width: 80px;
  position: absolute;
  top: 36px;
  left: 200px;
  background: linear-gradient(#323232, #444347);

  @media screen and (max-width: $break384) {
    width: 75px;
    left: 176px;
  }
  @media screen and (max-width: $break375) {
    left: 170px;
  }
}

.socialButtons {
  @media screen and (max-width: $break414) {
    display: none;
  }
}