.howItWorks {
  clear: both;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 80px;
  z-index: 1000;
  cursor: default;

  @media screen and (max-width: $break600) {
    padding-top: 50px;
  }
}

.howItWorksHeader {
  font-family: $fontOswald;
  font-size: 3.25em;
  font-weight: 900;
  color: #212222;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: $break600) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: $break414) {
    font-size: 2.5em;
  }
}

.howItWorksMainSection  {
  margin-top: 2.6vw;

  @media screen and (max-width: $break600) {
    margin-left: 44px;
  }
  @media screen and (max-width: $break414) {
    margin-left: 68px;
  }
  @media screen and (max-width: $break384) {
    margin-left: 55px;
  }
  @media screen and (max-width: $break375) {
    margin-left: 50px;
  }
  @media screen and (max-width: $break360) {
    margin-left: 42px;
  }
  @media screen and (max-width: $break320) {
    margin-left: 25px;
  }
}

.howItWorksCircle {
  color: #1b1b1b;
  text-align: center;
  display: block;
  border: 12px solid $blueCircles;
  width: 193px;
  height: 193px;
  float: left;
  margin: 25px auto 125px;
  border-radius: 100%;
  box-shadow: inset 6px 5px 20px -6px black;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.28);
    border: 12px solid $yellowCircles;
    background-color: rgba(252,206,0,0.1);

    @media screen and (max-width: $break1440) {
      border: 10px solid $yellowCircles;
    }
    @media screen and (max-width: $break1280) {
      border: 9px solid $yellowCircles;
    }
    @media screen and (max-width: $break800) {
      transform: scale(1.10);
    }
  }


  @media screen and (max-width: $break1440) {
    width: 168px;
    height: 168px;
    border: 10px solid $blueCircles;
  }
  @media screen and (max-width: $break1280) {
    width: 151px;
    height: 151px;
    border: 9px solid $blueCircles;
  }
  @media screen and (max-width: $break800) {
    width: 145px;
    height: 145px;
    margin: 0 0 80px 5px;
  }
  @media screen and (max-width: $break768) {
    width: 142px;
    height: 142px;
    margin: 0 0 80px 2px;
  }
  @media screen and (max-width: $break600) {
    width: 150px;
    height: 150px;
    margin: 0 0 30px 25px;
  }

  #firstStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) 0 0;
    margin: 0 auto;

  }

  #secondStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) -56px 0;
    margin: 0 auto;
  }

  #thirdStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) -112px 0;
    margin: 0 auto;
  }

  #fourthStep {
    left: 0;
    height: 60px;
    width: 57px;
    background: url(howItWorks/images/howItWorksSprite.png) -169px 3px;
    margin: 0 auto;
  }
}

.insideCircleHeader {
  font-family: $fontOswald;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 120%;

  @media screen and (max-width: $break1280) {
    font-size: 1.35em;
    line-height: 110%;
  }
  @media screen and (max-width: $break800) {
    font-size: 1.15em;
  }
  @media screen and (max-width: $break768) {
    font-size: 1.05em;
  }
}

.insideCircleParagraph {
  font-family: $fontOpenSans;
  font-size: 1em;
  padding-top: 1em;
  line-height: 120%;

  @media screen and (max-width: $break1280) {
    font-size: 0.9em;
    padding-top: 0.7em;
  }
  @media screen and (max-width: $break800) {
    font-size: 0.8em;
    padding-top: 0.6em;
  }
  @media screen and (max-width: $break768) {
    font-size: 0.8em;
    padding-top: 0.6em;
  }
}

.arrow {
  left: 0;
  height: 45px;
  width: 30px;
  background: url(howItWorks/images/howItWorksSprite.png) -240px 0;
  margin: 11.5% auto;
  position: relative;
  float: left;
  z-index: -10;

  @media screen and (max-width: $break800) {
    display: none;
  }
}

.circleContent {
  padding-top: 13px;
}

.socialButtons {
  position: relative;
  float: left;
  margin: 14px 0 0 25px;
}